/* hero */
.hero-container {
  background-image: url("../images/sailboat.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-container > .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 12px 24px;
  background-color: #000;
  opacity: 0.8;
  font-size: 1.25rem;
  letter-spacing: 10px;
}

/* about */
.about-wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 60px 0;
}

.about-wrapper > p:nth-of-type(1) {
  font-style: italic;
}

.about-wrapper > p:nth-of-type(2) {
  font-style: justify;
}

.about-wrapper > about-me-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.about-wrapper > .about-me-content-about-content-photo-wrapper {
  display: flex;
  flex-direction: column;
}

.about-wrapper
  > .about-me-content-about-content-photo-wrapper
  > .profile-icon-wrapper
  > i {
  padding-right: 15px;
}

.about-wrapper > .about-me-content-about-content-photo-wrapper img {
  width: 100%;
  height: 65%;
  padding-top: 25px;
  filter: opacity(0.65);
}

.about-wrapper > .about-me-content > p {
  margin: 0;
  text-align: justify;
}

/* accolades */
.accolades-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #616161;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.accolades-wrapper span {
  font-size: 24px;
}

/* portfolio parallax bg */
.portfolio-bg-wrapper {
  background-image: url("https://unsplash.com/random?/studious");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  filter: grayscale(95%);
}

.portfolio-bg-wrapper > .portfolio-bg-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  letter-spacing: 10px;
}

/* portfolio grid */
.portfolio-items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  cursor: pointer;
  transition: 0.1s ease-in-out all;
}

.portfolio-items-grid > .portfolio-image-wrapper,
.portfolio-items-grid img {
  max-height: 100%;
  max-width: 100%;
}

.portfolio-items-grid > .portfolio-image-wrapper:hover {
  filter: opacity(0.5);
}

/* contact parallax */
.contact-bg {
  background-image: url("https://source.unsplash.com/random?/contact");
}

/* contact container */
.contact-info-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-container > div {
  padding: 15px;
}

.contact-info-container > .contact-info-right {
  align-self: flex-start;
  text-align: left;
}

.contact-info-container > .contact-info-right > .contact-info-form {
  margin-top: 50px;
}

.contact-info-container
  > .contact-info-right
  > .contact-info-form
  > .form-group {
  display: flex;
}

.contact-info-container > .contact-info-right > .contact-info-form input > {
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
}

.contact-info-container
  > .contact-info-right
  > .contact-info-form
  input[type="text"]:last-child
  > {
  width: 100%;
}

.contact-info-container > .contact-info-right > .contact-info-form button {
  color: white;
  background-color: black;
  user-select: none;
  border: none;
  padding: 15px;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 15px;
  float: right;
  cursor: pointer;
  text-transform: uppercase;
}

.contact-info-container > .contact-info-right > .contact-info-form button {
  color: black;
  background-color: #ccc;
}

/* footer */
