.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.navigation-wrapper > .links-wrapper {
  height: 100%;
}

.navigation-wrapper > .links-wrapper {
  height: 100%;
}

.navigation-wrapper > .links-wrapper > .nav-link,
.navigation-wrapper > .search-icon-wrapper .nav-link {
  display: inline-block;
  padding: 15px 13px;
  cursor: pointer;
}

.navigation-wrapper > .search-icon-wrapper > .nav-link {
  height: 100%;
  width: 30px;
  text-align: center;
}
.navigation-wrapper > div > div:hover {
  color: black;
  background-color: #ccc;
}

.navigation-wrapper > .search-icon-wrapper > .nav-link:hover {
  background-color: red;
  color: white;
}
